:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --decor-text-color: #000028;
  --decor-color: #ff0070;
  --title-shadow-color: #ff0070;
  --header-title-shadow-color: #ff0070;
  --footer-title-shadow-color: #ff0070;
  --section-title-color: #ff0070;
  --button-hover-color: rgb(255 0 112 / 0.4);
}

:root.theme-dark .header__rec {
  display: block;
}