:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');
  --text-color: #000e2e;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --decor-text-color: #353430;
  --title-shadow-color: #ff0070;
  --header-title-shadow-color: #ff8dcb;
  --footer-title-shadow-color: #ff0070;
  --section-title-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
}

:root.theme-light .header__theme-menu-button {
  color: #353430;
}

:root.theme-light .header__theme-menu-button_active {
  border-color: #353430;
}

:root.theme-light .header__theme-menu-button:hover {
  border-color: rgb(50 49 45 / 0.4);
}

:root.theme-light .header__theme-menu-button:focus-visible {
  border-block-end-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --title-color: #ffc2e6;
    --decor-text-color: #353430;
    --title-shadow-color: #ff0070;
    --header-title-shadow-color: #ff8dcb;
    --footer-title-shadow-color: #ff0070;
    --section-title-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
  }

  :root:not(.theme-dark) .header__theme-menu-button {
    color: #353430;
  }

  :root:not(.theme-dark) .header__theme-menu-button_active {
    border-color: #353430;
  }

  :root:not(.theme-dark) .header__theme-menu-button:hover {
    border-color: rgb(50 49 45 / 0.4);
  }

  :root:not(.theme-dark) .header__theme-menu-button:focus-visible {
    border-block-end-color: #353430;
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}