.page {
    min-block-size: 100vh;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--main-text-size);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    inset-block-start: var(--page-padding-mobile);
    inset-inline-end: var(--page-padding-mobile);
    border-block-start: 1px solid var(--decor-color);
    border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
    inset-block-end: var(--page-padding-mobile);
    inset-inline-start: var(--page-padding-mobile);
    border-block-end: 1px solid var(--decor-color);
    border-inline-start: 1px solid var(--decor-color);
}

.header {
    display: grid;
    grid-template-rows: 1.3fr min-content 1.2fr;
    block-size: 100vh;
    min-block-size: var(--cover-min-height-mobile);
    padding: var(--page-padding-mobile);
}

.header__rec {
    position: absolute;
    inset-block-start: var(--page-padding-mobile);
    inset-inline-end: 38px;
    color: var(--accent-color);
    line-height: 25px;
    text-transform: uppercase;
}

.header__rec::after {
    content: "";
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: calc(100% + 10px);
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
    transform: translateY(-50%);
}

.header__theme-menu {
    justify-self: end;
    margin-block-start: 65px;
}

.header__theme-menu-list {
    display: grid;
    gap: 10px;
}

.header__theme-menu-button {
    border: 1px solid transparent;
    padding: 3px 13px;
    color: var(--accent-color);
    background-color: transparent;
    line-height: 18px;
    text-transform: lowercase;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end-color: var(--accent-color);
}

.header__theme-menu-button_active {
    border-color: var(--accent-color);
    pointer-events: none;
}

.header__theme-menu-button:disabled {
    cursor: default;
}

.header__title {
    align-self: center;
    color: var(--title-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
    text-shadow: 4px 4px 0 var(--header-title-shadow-color);
}

.header__text {
    align-self: center;
    font-weight: 700;
    line-height: var(--main-line-height);
    overflow-wrap: break-word;
}

.title-decor {
    color: var(--decor-text-color);
    background-color: var(--accent-color);
}

.content {
    display: grid;
    gap: var(--content-gap-mobile);
    padding-block: 40px;
    padding-inline: var(--page-padding-mobile);
}

.section {
    display: grid;
    gap: var(--section-gap);
}

.section__title {
    color: var(--section-title-color);
    font-size: inherit;
    font-weight: 700;
    line-height: var(--main-line-height);
    overflow-wrap: break-word;
}

.section__content {
    display: grid;
    gap: var(--section-gap);
}

.section__subtitle {
    font-size: inherit;
    font-weight: 700;
    line-height: var(--main-line-height);
    overflow-wrap: break-word;
}

.card {
    display: grid;
    align-content: start;
    gap: var(--card-gap);
}

.card__title {
    font-size: inherit;
    font-weight: 700;
    line-height: var(--main-line-height);
    overflow-wrap: break-word;
}

.card__title_regular {
    font-weight: 400;
}

.card__text {
    line-height: var(--main-line-height);
    overflow-wrap: break-word;
}

.card__text + .card__text {
    margin-block-start: var(--card-gap);
}

.card__link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
    border-block-end: 1px solid currentColor;
}

.card__link:focus {
    outline: none;
}

.card__link:focus-visible {
    outline: 1px solid currentColor;
}

.nowrap {
    white-space: normal;
}

.gallery {
    display: grid;
    gap: var(--card-gap);
}

.gallery__title {
    font-size: inherit;
    line-height: var(--main-line-height);
}

.gallery__list {
    display: grid;
    gap: var(--card-gap);
}

.gallery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.footer {
    display: grid;
    place-items: center;
    block-size: 100vh;
    min-block-size: var(--cover-min-height-mobile);
    padding: var(--page-padding-mobile);
}

.footer__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
    text-align: center;
    text-shadow: 2px 2px 0 var(--footer-title-shadow-color);
}

/* Планшет: 768px+ */
@media (width >= 768px) {
    .decorated-zone::before {
        inset-block-start: var(--page-padding-tablet);
        inset-inline-end: var(--page-padding-tablet);
    }

    .decorated-zone::after {
        inset-block-end: var(--page-padding-tablet);
        inset-inline-start: var(--page-padding-tablet);
    }

    .header {
        grid-template-rows: 1fr min-content 1fr;
        min-block-size: var(--cover-min-height-tablet);
        padding: var(--page-padding-tablet);
    }

    .header__theme-menu {
        justify-self: end;
        margin-block-start: 172px;
    }

    .header__rec {
        inset-block-start: var(--page-padding-tablet);
        inset-inline-end: 48px;
    }

    .header__title {
        margin-inline-start: calc(var(--page-padding-tablet) * -1);
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__text {
        justify-self: end;
        inline-size: 50%;
    }

    .content {
        gap: var(--content-gap-desktop);
        padding-block: 60px;
        padding-inline: var(--page-padding-tablet);
    }

    .section_type_reasons,
    .section_type_advices {
        grid-template-columns: 1.0fr 2fr;
        column-gap: var(--section-gap);
    }

    .section_type_factors {
        grid-template-columns: 1fr;
    }

    .section_type_factors .section__title {
        inline-size: calc((100% - 40px) / 3);
    }

    .gallery {
        gap: var(--section-gap);
    }

    .gallery__list {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--section-gap);
    }

    .gallery__item_type_sunset {
        grid-column: span 2;
    }

    .gallery__item_type_ice-cream {
        grid-row: span 2;
    }

    .gallery__item_type_tape {
        grid-row: span 2;
    }

    .gallery__item_type_street {
        grid-column: span 2;
    }

    .footer {
        min-block-size: var(--cover-min-height-tablet);
        padding: var(--page-padding-tablet);
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .nowrap {
        white-space: nowrap;
    }
}

@media (width >= 768px) and (width < 1024px) {
    .section_type_factors {
        margin-block-start: 1px;
    }
}

/* Десктоп: 1024px+ */
@media (width >= 1024px) {
    .decorated-zone::before {
        inset-block-start: var(--page-padding-desktop);
        inset-inline-end: var(--page-padding-desktop);
    }

    .decorated-zone::after {
        inset-block-end: var(--page-padding-desktop);
        inset-inline-start: var(--page-padding-desktop);
    }

    .header {
        grid-template-rows: 1.2fr min-content 1.2fr;
        min-block-size: var(--cover-min-height-desktop);
        padding: var(--page-padding-desktop);
    }

    .header__theme-menu {
        justify-self: center;
        margin-block-start: 0;
    }

    .header__theme-menu-list {
        grid-auto-flow: column;
    }

    .header__rec {
        inset-block-start: var(--page-padding-desktop);
        inset-inline-end: 48px;
    }

    .header__title {
        margin-inline-start: calc(var(--page-padding-desktop) * -1);
    }

    .header__text {
        inline-size: 50%;
    }

    .content {
        gap: var(--content-gap-desktop);
        padding-block: 60px;
        padding-inline: var(--page-padding-desktop);
    }

    .section_type_reasons,
    .section_type_advices {
        grid-template-columns: 1.01fr 2.06fr;
        column-gap: var(--section-gap);
    }

    .section_type_factors .section__content {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer {
        min-block-size: var(--cover-min-height-desktop);
        padding: var(--page-padding-desktop);
    }
}